{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@assets": "./src/assets",
          "@config": "./src/config",
          "@hooks": "./src/hooks",
          "@interfaces": "./src/interfaces",
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@store": "./src/store",
          "@localization": "./src/localization/"
        }
      }
    ]
  ]
}
